



.body{
  width: 800px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
}

.page{
  margin-top: 50px;
  height: auto;
  text-align:justify;
}
.photopage{
  background: url(../images/back.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 120%;
  background-position: center;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 70px;
  opacity: 0.3;
  object-fit: cover;
}
.title{
  margin-top: 15%;
  margin-bottom: 5%;
  text-align:center;
  font-weight: bold;
  font-size:40px;
  color: #00024B;
}

.content{
  color: #00024B;
  font-size: 23px;
  margin-bottom: 20px;
}
.aboutus{
  color: #00024B;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
